/* Styling form and resume sections */


body {

    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(178, 177, 194);

}


form {
    margin: auto;
    background-color: #4f31e840;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(12, 15, 19, 0.863);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

h1:hover{
    color: rgb(215, 213, 139);
}

fieldset {
    border: 2px solid rgba(69, 23, 210, 0.902);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(239, 228, 134);
}


legend {
    font-weight: bold;
    text-align: left;
    color:black;
}


label {
    display: block;
    margin-top: 10px;
    color: black;
}

h3{
    color: rgb(9, 23, 23);
}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgba(132, 104, 243, 0.964);
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    display: block;
    width: 100%;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(134, 134, 163);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(55, 56, 54);
    border-radius: 8px;
    background-color: rgb(216, 183, 212);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: black;
    /*Making resume editable*/
    outline: none;
}

